@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap");

:root {
  // colors
  --success-color: hsl(163, 72%, 41%);
  --error-color: hsl(356, 69%, 56%);

  --facebook-color: hsl(208, 92%, 53%);
  --twitter-color: hsl(203, 89%, 53%);
  --youtube-color: hsl(348, 97%, 39%);
  --instagram-gradient-start: hsl(37, 97%, 70%);
  --instagram-gradient-end: hsl(329, 70%, 58%);
  --instagram-gradient: linear-gradient(
    90deg,
    var(--instagram-gradient-start) 0%,
    var(--instagram-gradient-end) 100%
  );

  // breakpoints
  --mobile: 375px;
  --desktop: 1440px;

  // fonts

  --primary-font: "Inter", sans-serif;
  --body-copy: 14px;
}

body {
  font-family: var(--primary-font);
  font-size: var(--body-copy);
  font-weight: 400;
}

html[data-theme="dark"] {
  /* Dark Theme */
  --toggle-dark-start: hsl(210, 78%, 56%);
  --toggle-dark-end: hsl(146, 68%, 55%);

  /* Neutral - Dark Theme */
  --bg-color: hsl(230, 17%, 14%);
  --card-bg-color-top: hsl(232, 19%, 15%);
  --card-bg-color: hsl(228, 28%, 20%);
  --text-secondary-color: hsl(228, 34%, 66%);
  --text-primary-color: hsl(0, 0%, 100%);
}

html[data-theme="light"] {
  /* Light Theme */
  --toggle-light: hsl(230, 22%, 74%);

  /* Neutral - Light Theme */
  --bg-color: hsl(0, 0%, 100%);
  --card-bg-color-top: hsl(225, 100%, 98%);
  --card-bg-color: hsl(227, 47%, 96%);
  --text-secondary-color: hsl(228, 12%, 44%);
  --text-primary-color: hsl(230, 17%, 14%);
}

// TODO: extract colors and add them as variables for different shades and saturation.
